/* common.css: 全体の基本スタイル */
header {
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #f0e7df;
  color: #927860;
  margin: 0;
  padding: 0
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #fff;
  border-radius: 8px;
  padding: 55px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  flex-grow: 1;
  font-size: 28px;
  text-align: center;
  margin: 0;
  color: #6e5a48;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 27px;
  text-align: center;
  color: #6e5a48;
  margin-bottom: 30px;
  font-weight: 400;
}

.form-group {
  max-width: 500px;
  margin: 0 auto 25px auto;
  padding: 0 40px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Yu Gothic UI", "Segoe UI", sans-serif;
  text-align: justify;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  display: block;
  margin-left: 5%;
  padding: 12px;
  border: 1px solid #faf9f9;
  border-radius: 2px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-left: 0;
}

input::placeholder {
  color: #c6b3a0;
  font-family: "Yu Gothic UI", "Segoe UI", sans-serif;
  font-size: 14px;
}

button {
  background-color: #44362bbd;
  color: #fff;
  border: none;
  padding: 2px 18px;
  border-radius: 2px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a473a;
}

.header__nav {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}


.nav__link {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  color: #bfaea2;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav__link:hover {
  background-color: #eee;
  color: #6e5a48;
  border-color: #bbb;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}